body{
    display: flex;
    background-color: rgba(137, 43, 226, 0.338);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 400px;
    height: 500px;
    align-items: center;
    border-radius: 30px;
    box-shadow:10px 10px 20px rgb(36, 136, 103);
}

.title{
    display: flex;
    width: 100%;
    height: 50px;
    align-items:center;
    justify-content: center;
    font: bold serif;
    border-bottom: solid 5px;
    margin-bottom: 20px;
}

.input{
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content:end;
}

.input input{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    font: none serif;
    border: none;
    text-align: center;
}

.input label{
    font: bold 1rem serif;
}

button{
    width: 200px;
    height: 35px;
    cursor: pointer;
    background: seagreen;
    color:rgb(0, 0, 0);
    font: bold 1rem serif;
    outline: none;
    border-radius: 5px;
}

.result{
    display: flex;
    width: 80%;
    height: 38%;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 52, 124);
    font: bold 1.5rem serif;
    background-color: rgb(26, 136, 163);
    box-sizing: border-box;
    user-select: none;
    color:rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
}